<plugin start="true">
	<uid>pt.uminho.ceb.biosystems.merlin.biomass</uid>
	<name>merlin-biomass</name>
	<version>4.0.3</version>

	<dependencies>
		<dependency uid="merlin" />
	</dependencies>

	<extensions>
	
		<extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.biomass.EBiomass">
			<operation-description
				name="e-biomass equation" path="30@model/40@create/"
				uid="operations.EBiomass.ID" />
		</extension>

		<extension uid="aibench.workbench"
			name="aibench.workbench.view">
			<icon-operation operation="operations.EBiomass.ID"
				icon="icons/Lifecycle/equation.png" />
		</extension>
		
	</extensions>

</plugin>
